html {
    background-color: rgb(205, 202, 185);
    --primary: #e63946;
    --secondary: #2a9d8f;
    --dark: #1d3557;
    --light: #f1faee;
    --gray: #adb5bd;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
h1 {
    font-size: 3em;
    color: var(--primary);
    margin-bottom: 0.2em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 {
    font-size: 2.5em;
    color: var(--dark);
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary);
    margin: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p {
    margin-bottom: 1em;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
header {
    padding: 20px;
    height: 10%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
header h1 {
    font-size: 4em;
    font-weight: 700px;
}
header p {
    font-size: 1.5em;
    font-weight: 700px;
}
nav {
    background-color: var(--dark);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 5px;
}
nav ul li a:hover, nav ul li a:active {
    color: var(--primary);
    background-color: #1d3557;
}
main {
    padding: 60px;
}
section {
    margin-bottom: 60px;
}
.content-block {
    display: flex;
    align-items: center;
    gap: 40px;
}
.content-block img {
    max-width: 20%;
    border-radius: 10px;
}
.content-block h1 {
    margin: 0px;
    font-size: 1.2em;
    text-align: justify;
}
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.gallery-grid img {
    border-radius: 8px;
    box-shadow: 4px rgba(0,0,0,0.1);
    cursor: pointer;
    
}
.gallery-grid img:hover {
    transform:translateY(-5px);
    box-shadow: rgba(0,0,0,0.2);
}
footer { 
    background-color: var(--dark);
    color: var(--light);
    text-align:center;
    padding: 30px;
    margin-top: 60px;
    font-size: 1em;
}
footer p {
    margin: 0px;
}